.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-first);
    border-bottom: 10px solid var(--color-black-first);
    padding: 10px 20px;
}

.header .navigation {
        text-align: right;
    }
