.section {
    background-color: #612F74;
    height: 698px;
    border-bottom: 10px solid #000;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section .main-title {
    margin-bottom: 80px;
}

.section.-bgBlack {
    background-color: var(--color-first);
}

.section.-bdFirst {
    border-color: black;
}

.section.-htFirst {
    height: 480px;
}